{% extends 'base.html.twig' %}

{% block title %}New Birds{% endblock %}

{% block body %}
    <h1>Create new Birds</h1>

    {{ include('birds/_form.html.twig') }}

    <a href="{{ path('app_birds_index') }}">back to list</a>
{% endblock %}
