{% extends 'base.html.twig' %}

{% block title %}My Garden{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello dear classmate! </h1>

    <ul>
    	<li>Wow isn't that the most beautiful and aesthetic landing page ever?!</li>
    	<li>Go check the navbar to see your gardens, from there you can check the birds in each garden</li>
    </ul>
</div>
{% endblock %}
