<form method="post" action="{{ path('app_aviary_delete', {'id': aviary.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aviary.id) }}">
    <button class="btn">Delete</button>
</form>
