{% extends 'base.html.twig' %}

{% block title %}The birds in my garden {{ garden.name }} {% endblock %}

{% block body %}
	<h1>My birds in my {{ garden.name }}</h1>
	<ul>
	{% for bird in birds %}
		<li>{{ bird.name }}</li>
		<li><a href="{{ path('app_birds_show', {'id': bird.id}) }}">show</a></li>
	{% endfor %}
	<!--   Must deal with exception in case there are no birds in the garden -->
	
{% endblock %}

		